@model List<Category>

@{
    ViewData["Title"] = "Category Page";
}

<div class="content">
    
    <a class="btn btn-lg btn-success" asp-area="" asp-controller="Category" asp-action="Add"><i class="bi bi-plus-square"></i></a>

    <div class="table-responsive">

        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.CategoryID</th>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                        <td>
                            <a class="btn btn-lg btn-primary" asp-controller="Category" asp-action="Edit" asp-route-id="@item.CategoryID">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>
                        <td>
                            <form method="post" asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@item.CategoryID">
                                <button type="submit" class="btn btn-lg btn-danger" onclick="return confirm('Are you sure you want to delete this item?')"><i class="bi bi-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>