@model List<ProductViewModel>

@{
    ViewData["Title"] = "Product Page";
}

<div class="content">

    <h1>Products</h1>

    @{
        Html.RenderPartial("_AddProductModal", new ProductDto());
    }

    <table id="productDatatable" class="stripe row-border order-column" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Supplier</th>
                <th>Category</th>
                <th>Price</th>
                <th>Units In Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.ProductID</th>
                    <td>@item.ProductName</td>
                    <td>@item.SupplierName</td>
                    <td>@item.CategoryName</td>
                    <td>@decimal.Truncate(item.Price) @CurrencyHelper.GetCurrencySymbol(item.Currency) </td>
                    <td>@item.UnitsInStock</td>
                    <td class="row d-flex justify-content-center">
                        <div class="col-2">
                            <a class="btn btn-success" asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductID"><i class="bi bi-info-square"></i></a>
                        </div>
                        
                        <div class="col-2">
                            <a class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductID"><i class="bi bi-pencil-square"></i></a>
                        </div>
                        <div class="col-2">
                            <form method="post" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.ProductID">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')"><i class="bi bi-trash"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>

<script>

    $(document).ready(function () {
        $('#productDatatable').DataTable({});
    });

</script>